@page
@model SummerInternRegistrations.Pages.Interns.CreateModel


@{
    ViewData["Title"] = "Create";
}

<h1>Summer Intern Registration</h1>

<hr />
<div class="container-fluid">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset class="fieldset.intern-border">
            <legend class="fieldset.intern-border">Student Name</legend>
            <div class="form-group">

                <div class="row">
                    <div class="col-sm-2">
                        <input asp-for="Intern.PREFIX" class="form-control" placeholder="Prefix" />
                        <span asp-validation-for="Intern.PREFIX" class="text-danger"></span>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Intern.FNAME" class="form-control" placeholder="First Name" />
                        <span asp-validation-for="Intern.FNAME" class="text-danger"></span>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="Intern.PMNAME" class="form-control" placeholder="Middle Name" />
                        <span asp-validation-for="Intern.PMNAME" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">

                        <input asp-for="Intern.LNAME" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="Intern.LNAME" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Intern.SUFFIX" class="form-control" placeholder="Suffix" />
                        <span asp-validation-for="Intern.SUFFIX" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset.intern-border">
            <legend class="fieldset.intern-border">Student Contact Information</legend>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input asp-for="Intern.EMAIL1" class="form-control" placeholder="University Email" />
                        <span asp-validation-for="Intern.EMAIL1" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Intern.MOBILE" class="form-control" placeholder="Mobile Phone" />
                        <span asp-validation-for="Intern.MOBILE" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset.intern-border">
            <legend class="fieldset.intern-border">Student Academic Information</legend>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input asp-for="Intern.MAJOR" class="form-control" placeholder="Major" />
                        <span asp-validation-for="Intern.MAJOR" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Intern.CLASSIFICATION" class="form-control" placeholder="Classification" />
                        <span asp-validation-for="Intern.CLASSIFICATION" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input asp-for="Intern.GPA" class="form-control" placeholder="GPA" />
                        <span asp-validation-for="Intern.GPA" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Intern.COLLEGECREDIT" class="form-control" placeholder="College Credit" />
                        <span asp-validation-for="Intern.COLLEGECREDIT" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input asp-for="Intern.SEMESTERTERM" class="form-control" placeholder="Semester Term" />


                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Intern.SEMESTERYEAR" class="form-control" placeholder="Semester Year" />
                        <span asp-validation-for="Intern.SEMESTERYEAR" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input asp-for="Intern.ACADEMICCREDITSEMESTER" class="form-control" placeholder="Academic Credit Semester" />
                        <span asp-validation-for="Intern.ACADEMICCREDITSEMESTER" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Intern.ACADEMICCREDITYEAR" class="form-control" placeholder="Academic Credit Year" />
                        <span asp-validation-for="Intern.ACADEMICCREDITYEAR" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">

                        <input asp-for="Intern.COLLEGEGRADUATIONSEMESTER" class="form-control" placeholder="College Graduation Semester" />
                        <span asp-validation-for="Intern.COLLEGEGRADUATIONSEMESTER" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6">

                        <input asp-for="Intern.COLLEGEGRADUATIONYEAR" class="form-control" placeholder="College Graduation Year" />
                        <span asp-validation-for="Intern.COLLEGEGRADUATIONYEAR" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input asp-for="Intern.FNAMEPROF" class="form-control" placeholder="Professor's First name" />
                        <span asp-validation-for="Intern.FNAMEPROF" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6">
                        <input asp-for="Intern.LNAMEPROF" class="form-control" placeholder="Professor's Last Name" />
                        <span asp-validation-for="Intern.LNAMEPROF" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset.intern-border">
            <legend class="fieldset.intern-border">Internship Information</legend>

            <div class="form-group">
                <input asp-for="Intern.PREFEREDSITE" class="form-control" placeholder="Prefered Site" />
                <span asp-validation-for="Intern.PREFEREDSITE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="drugScreen" class="control-label">*  Are you able to pass a drug screen?</label>
                    </div>

                    <div class="col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.DRUGSCREEN" value="Yes" /> Yes
                        </label>
                        <span asp-validation-for="Intern.DRUGSCREEN" class="text-danger"></span>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.DRUGSCREEN" value="No" /> No
                        </label>

                        <span asp-validation-for="Intern.DRUGSCREEN" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4">

                        <label for="BackGroundCheck" class="control-label">*  Are you able to pass a Background Check?</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.BACKGROUNDCHECK" value="Yes" /> Yes
                        </label>

                        <span asp-validation-for="Intern.BACKGROUNDCHECK" class="text-danger"></span>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.BACKGROUNDCHECK" value="No" /> No
                        </label>

                        <span asp-validation-for="Intern.BACKGROUNDCHECK" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="FIRSTEXPERIENCE" class="control-label">*  Is this your first internship experiences?</label>
                    </div>

                    <div class="col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.FIRSTEXPERIENCE" value="Yes" /> Yes
                        </label>
                        <span asp-validation-for="Intern.FIRSTEXPERIENCE" class="text-danger"></span>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.FIRSTEXPERIENCE" value="No" /> No
                        </label>

                        <span asp-validation-for="Intern.FIRSTEXPERIENCE" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4">

                        <label for="LOCATIONOUTSIDEGA" class="control-label">* Are you open to locations outside of GA?</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.LOCATIONOUTSIDEGA" value="Yes" /> Yes
                        </label>

                        <span asp-validation-for="Intern.LOCATIONOUTSIDEGA" class="text-danger"></span>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.LOCATIONOUTSIDEGA" value="No" /> No
                        </label>

                        <span asp-validation-for="Intern.LOCATIONOUTSIDEGA" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="LOCATIONLODGING" class="control-label">* Do you have support for lodging at the anticipated internship location?</label>
                    </div>

                    <div class="col-sm-2">

                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.LOCATIONLODGING" value="Yes" /> Yes
                        </label>
                        <span asp-validation-for="Intern.LOCATIONLODGING" class="text-danger"></span>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.LOCATIONLODGING" value="No" /> No
                        </label>

                        <span asp-validation-for="Intern.LOCATIONLODGING" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4">

                        <label for="INTERNSHIPPREP" class="control-label">* Have you visited Career Services to prepare yourself to compete for internships?</label>
                    </div>

                    <div class="col-sm-2">
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.INTERNSHIPPREP" value="Yes" /> Yes
                        </label>

                        <span asp-validation-for="Intern.INTERNSHIPPREP" class="text-danger"></span>
                        <label class="radio-inline">
                            <input type="radio" asp-for="Intern.INTERNSHIPPREP" value="No" /> No
                        </label>

                        <span asp-validation-for="Intern.INTERNSHIPPREP" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
            <input asp-for="Intern.EDITOR" class="form-control" placeholder="University Email" />
            <span asp-validation-for="Intern.EDITOR" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Intern.NOTES" class="form-control" placeholder="University Email" />
            <span asp-validation-for="Intern.NOTES" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Intern.TIMESTAMP" class="form-control" placeholder="University Email" />
            <span asp-validation-for="Intern.TIMESTAMP" class="text-danger"></span>
        </div>*@
        </fieldset>
        <fieldset class="fieldset.intern-border">
            <div class=" col-sm-12 form-group">
                <p style="text-align:center;">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </p>
            </div>
        </fieldset>

    </form>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
